.week {
  padding: 50px 30px;
  background-color: aliceblue;
  background: rgba(224, 231, 224, 0.154);
  border-radius: 20px;
  border-color: aliceblue;
  border-style: solid;
  border-width: thin;
  text-align: center;
}

.today-temperature,
.city {
  margin-left: 30px;
}

.description:first-letter {
  text-transform: uppercase;
}

.container {
  padding-top: 70px;
  display: block;
  width: 100%;
  margin: 20px auto;
  border-radius: 20px;
  /* background: url(../images/weather.jpg) rgb(214, 170, 206); */
  background: #e6b2c6;
}

.current-city {
  width: 100%;
  border-color: white;
  border-width: 1px;
}

.card-body {
  width: 100px;
  text-align: center;
}

.link {
  text-align: center;
  display: block;
  color: darkgrey;
}
